.container {
    display: flex;
    justify-content: space-between;

    margin-left: 393px;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-header {
    background-color: rgb(98, 133, 167);
}
.card {

    margin-top: 7px;
    margin-left: 36px;
    margin-right: 70px;
}

